Flask==1.0.2
Flask-Cors==3.0.6
configobj==5.0.6
dj-database-url==0.5.0
dj-static==0.0.6
Django==2.0.5
django-toolbelt==0.0.1
h5py==2.6.0
imageio==2.3.0
imagesize==0.7.1
ipykernel==4.5.2
ipython==5.1.0
ipython-genutils==0.1.0
ipywidgets==5.2.2
Keras==2.1.5
numpy==1.14.2
numpydoc==0.6.0
olefile==0.45.1
openpyxl==2.4.1
pathlib2==2.2.0
Pillow==4.0.0
prompt-toolkit==1.0.9
psycopg2==2.7.5
ptyprocess==0.5.1
py==1.4.32
pyasn1==0.1.9
pycosat==0.6.1
pycparser==2.17
pycrypto==2.6.1
pycurl==7.43.0
pyflakes==1.5.0
pylint==1.6.4
pyOpenSSL==16.2.0
pyparsing==2.1.4
pytest==3.0.5
python-dateutil==2.6.0
pytz==2016.10
requests==2.12.4
rope-py3k==0.9.4.post1
SQLAlchemy==1.1.5
static3==0.7.0
statsmodels==0.6.1
tensorflow==1.6.0
whitenoise==3.3.1
